<div [ngClass]="{ 'highlight-modularity': highlightModularity }" class="root">
  <header [ngClass]="{ 'highlight-accessibility': highlightAccessibility }">
    <img src="logo.png" alt="University of Toronto Logo" />
    <h1>Welcome to the Angular HCI Demo App!</h1>
  </header>

  <main [ngClass]="{ 'highlight-accessibility': highlightAccessibility }">
    <section
      [ngClass]="{
        'highlight-accessibility': highlightAccessibility,
        'highlight-modularity': highlightModularity
      }"
    >
      <app-message></app-message>
    </section>

    <section [ngClass]="{ 'highlight-accessibility': highlightAccessibility }">
      <p>{{ dataFromService }}</p>
    </section>

    <section
      [ngClass]="{
        'highlight-accessibility': highlightAccessibility,
        'highlight-modularity': highlightModularity
      }"
    >
      <app-hci-checkboxes
        (hciPrincipleChanged)="onPrincipleChanged($event)"
      ></app-hci-checkboxes>
    </section>
  </main>

  <footer
    class="footer"
    [ngClass]="{ 'highlight-accessibility': highlightAccessibility }"
  >
    <p>
      Written by
      <a href="https://www.linkedin.com/in/sonu-kapoor/">Sonu Kapoor</a> for the
      University of Toronto (Human-Computer Interaction (HCI) course).
    </p>
    <p>
      Github Link:
      <a href="https://github.com/sonukapoor/Angular-HCI-U-of-T" target="_blank"
        >https://github.com/sonukapoor/Angular-HCI-U-of-T</a
      >
    </p>
  </footer>
</div>
